h1 {
    background-color: blue;
    text-align: center;
    color: white;
    
}
.search {
  
}
.submit {
    background-color: rgb(23, 192, 248);
    color: white;
    display: flex;
    width: 165px;
    margin-top: 15px;
}

.submit:hover {
    background-color: blue;
}

textarea {
    display: inline-block;
    width: 80%;
    height: 300px;
    text-align: center;
    font-size: larger;
    margin-left: 200px;
    margin-top: -120px;
}
